@import '../../../../styles';
@import '../huffman-tree.component';

.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;

  >.item {
    text-align: center;
    width: 100%;
  }
}

.path-icon {
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  padding: 0 4px 0 4px;
  width: max-content;
  margin: auto;

  font-size: 2.4em;
  font-family: monospace;
}

.character-icon {
  color: black;
  background-color: floralwhite;
  border: 2px solid silver;
  border-radius: 4px;
  padding: 0 4px 0 4px;
  width: max-content;
  margin: auto;

  font-family: 'roboto', sans-serif;
  font-size: 2.4em;
}

.partial-border {
  border-top: 2px solid black;
  width: 50%;
  height: 16px;

  &.left {
    margin-left: auto;
    border-left: 2px solid black;
  }
  &.right {
    margin-right: auto;
    border-right: 2px solid black;
  }
}

.vertical-line {
  border-left: 2px solid black;
  height: 16px;
  width: max-content;
  margin: 0 auto auto;
}

.arrow-container {
  margin: -5px 0 -5px 0;
}

.highlight-selected-path {
  animation: selected-path cubic-bezier(0.40, 0.00, 0, 1.00) 0.7s alternate infinite
}

@keyframes selected-path {
  0% {
    background-color: #F5F5F5;
  }
  100% {
    background-color: lighten(indigo, 60);
  }
}
