<div class="fade-base"
     [class.fade-out]="transparent"
     [class.fade-in]="!transparent">
  <div class="partial-border"
       [class.left]="direction === BiDirectionEnum.LEFT"
       [class.right]="direction === BiDirectionEnum.RIGHT"></div>

  <div class="arrow-container">
    <svg width="14" height="14">
      <polygon fill="black" points="0,0 7,14 14,0"></polygon>
    </svg>
  </div>

  <div class="path-icon"
       [class.highlight-selected-path]="highlight">
    {{pathText}}
  </div>

  <div class="vertical-line"></div>
</div>
