<div class="bi-container" (click)="showEncoded = true">
  <div class="item">
    <mat-card>
      <mat-card-title>Example Image</mat-card-title>
      <mat-card-content>

        <div class="pixels-container">
          <ng-container *ngFor="let line of runLengthImage?.lines">
            <div class="pixels-item pixel-color"
                 *ngFor="let flaggedChar of line"
                 [class.pixels-on]="flaggedChar.text === '▓'"
                 [class.pixels-off]="flaggedChar.text !== '▓'"
                 [class.pixels-highlight]="flaggedChar.id === selectedRunLengthId">
            </div>
          </ng-container>
        </div>
      </mat-card-content>

      <mat-card-footer class="footer-padding">
        <div class="footer-container">
          <div [class.card-medium-font]="isPresentation">Ratio</div>
          <div>
            <app-progress-bar [value]="runLengthImageEntropy.entropyFraction"></app-progress-bar>
          </div>
        </div>

      </mat-card-footer>
    </mat-card>
  </div>

  <div class="item pixels-encoded-card-size">

    <mat-card class="fadeable"
              (mouseleave)="selectedRunLengthId = null"
              [class.show]="!isPresentation || showEncoded">
      <mat-card-title>Example Image Encoded</mat-card-title>
      <mat-card-content class="pixels-encoded-card-padding">
          <span class="pixels-text-scale pixels-font cursor-pointer"
                *ngFor="let flaggedChar of runLengthImage?.encoded;
                let i = index"
                (mouseenter)="selectedRunLengthId = flaggedChar.id"
                [class.highlight-code-viewing]="flaggedChar.id === selectedRunLengthId">
            {{flaggedChar.text}}
            <br *ngIf="(i+1)%9==0">
          </span>
      </mat-card-content>

    </mat-card>
  </div>
</div>
