<div class="dashboard-container">

  <div class="social-container">
    <app-website-info></app-website-info>
  </div>

  <div class="subject-container">
    <div class="subject-card"
         *ngFor="let card of cards">

      <mat-card (click)="goToRoute(card.data);"
                class="cursor-pointer hover-bright mat-elevation-z0">
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>

</div>
