<mat-card>
  <mat-card-title>Sum ;-) mary</mat-card-title>

  <mat-card-content [class.card-big-font]="isPresentation"
                    [class.card-medium-font]="!isPresentation">
    <ul (click)="bulletNumber = bulletNumber + 1">
      <li>Information Entropy <span class="fadeable"
                                    [class.show]="bulletNumber > 1">for a fair coin toss</span>
      </li>
      <img src="../../../../assets/shanon_entropy_coin.PNG"
           class="example-image fadeable"
           [class.show]="bulletNumber > 2"/>
      <br>
      <br>
      <li class="fadeable" [class.show]="bulletNumber > 3">
        <div class="list-item-container">
          <div>Recognize a pattern, replace it with something shorter</div>
          <div class="right">AAAAA == 5xA</div>
        </div>
      </li>

      <br>

      <li class="fadeable" [class.show]="bulletNumber > 4">
        <div class="list-item-container">
          <div>Most of the time, a dictionary needs to be sent</div>
          <div class="right">Gucci = 1; Gang = 0;</div>
        </div>
      </li>

      <br>

      <li class="fadeable" [class.show]="bulletNumber > 5">
        <div class="list-item-container">
          <div>Huffman Coding converts every unit into the simplest state</div>
          <div class="right">"FaceEmoji, Smiley, ASCII 249" becomes 1,2,3</div>
        </div>
      </li>

      <br>

      <li class="fadeable" [class.show]="bulletNumber > 6">
        <div class="list-item-container">
          <div>LZW will link letters and group them as words</div>
          <div class="right">Supercalifragilisticexpialidocious = 256</div>
        </div>
      </li>

      <br>
    </ul>

  </mat-card-content>

</mat-card>
