@import '../styles';

.app-page {
  display: grid;
  grid-template-rows: 64px 1fr;
  height: 100vh;
}

.page-avatar {
  width: 100px;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  content: ' ';
  margin-right: 16px;
}

.toolbar-container {
  display: grid;
  grid-template-columns: max-content max-content auto max-content max-content;
}

.subject-title {
  font-size: x-large;
}

.page-title-font {
  text-align: center;
  font-family: lucida console, monospace;
  font-size: 2em;
}

.full-height {
  height: 100%;
}

.router-outlet-align {
  align-self: center;
  padding: 10px 20px 10px 20px;
}

@media #{$mediaQ-small-desktop} {
  .subject-title {
    font-size: large;
  }

  .page-title-font {
    font-size: x-large;
  }
}

.slide-toggle-font {
  font-size: 0.7em;
}

.vertical-container {
  display: grid;
  justify-items: center;
  padding: 0 16px 0 16px;

  grid-template-areas: 'top' 'bottom';
}

.nav-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

