<div class="app-page">

  <mat-toolbar class="toolbar-container"
               [hidden]="!currentImage">
    <div class="page-avatar"
         [style.background-image]="currentImage"></div>
    <span class="subject-title">{{currentShowcase}}</span>

    <span class="page-title-font">{{pageTitle}}</span>

    <span class="vertical-container" matTooltip="Coming soon...">
        <span>
          <mat-slide-toggle color="primary"
                            [checked]="isTutorialMode"
                            [disabled]="true"></mat-slide-toggle>
        </span>
        <span class="slide-toggle-font">Tutorial</span>
      </span>

    <span class="full-height nav-buttons-container" *ngIf="router.url !== '/'">
      <button mat-button class="full-height" [routerLink]="['']">
        <mat-icon>home</mat-icon>
      </button>

      <button mat-raised-button
              class="full-height hover-gray"
              [disabled]="backwardButtonDisabled"
              (click)="pageBackward()">
        <mat-icon>navigate_before</mat-icon>
      </button>

      <button mat-raised-button
              class="full-height hover-gray"
              [disabled]="forwardButtonDisabled"
              (click)="pageForward()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <div class="router-outlet-align">
    <router-outlet></router-outlet>
  </div>
</div>
