@import '../../../../styles';

.lzw-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-template-areas: 'text-to-encode encoded' 'coding-table   coding-table';
  grid-gap: 8px;
  grid-row-gap: 1em;
}

.text-to-encode {
  grid-area: text-to-encode;
}

.encoded {
  grid-area: encoded;
}

.coding-table {
  grid-area: coding-table;
}

.lzw-table-container {
  display: grid;
  grid-template-columns: max-content minmax(max-content, 100px) auto;
  grid-template-areas: 'letterTitle letterTitle dictionaryTitle' 'description character dictionary' 'restore next .';
  grid-gap: 4px;

  @extend .font-monospace;

  .letterTitle {
    grid-area: letterTitle;
    @extend .title-medium;
  }
  .dictionaryTitle {
    grid-area: dictionaryTitle;
    @extend .title-medium;
    margin-left: 12.5%;
  }

  .description {
    grid-area: description;

    padding: 4px 0 4px 4px;
    background-color: white;
    height: max-content;
  }

  .character {
    grid-area: character;

    user-select: none;
    background-color: white;
    padding: 4px 0 4px 0;
    text-align: center;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
    height: max-content;
  }

  .dictionary {
    grid-area: dictionary;

    width: 75%;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 100px));
    grid-gap: 4px;

    > .item {
      background-color: white;
      padding: 4px 0 4px 0;
      text-align: center;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
    }
  }

  .restore-button {
    grid-area: restore;
    justify-self: center;
  }

  .next-button {
    grid-area: next;
    justify-self: center;
  }
}

.encoded-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-row-gap: 8px;

  > .item {
    text-align: center;
  }
}

@media #{$mediaQ-small-desktop} {
  .lzw-container {
    grid-template-columns: auto 58%;
  }

  .encoded-container {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-row-gap: 0;
  }
}

.empty-dictionary {
  align-self: center;
}

.vertical-align-middle {
  vertical-align: middle;
}
