@import '../../../../styles';

.huffman-tree-container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: max-content auto;
  grid-template-areas: 'text-to-encode huffman-tree' 'huffman-table  huffman-tree';
  grid-gap: 8px;
}

.text-to-encode {
  grid-area: text-to-encode;
}

.huffman-table {
  grid-area: huffman-table;
}

.huffman-tree {
  grid-area: huffman-tree;
}

.codes-padding {
  padding: 0 8px 0 8px;
}

.huffman-frequency-table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;

  @extend .card-medium-font;

  > .character {
    grid-column: 1;
    @extend .codes-padding;
  }

  > .usages {
    grid-column: 2;
    @extend .codes-padding;
  }
}

.list-size {
  height: 475px;
}

@media #{$mediaQ-small-desktop} {
  .list-size {
    height: 330px;
  }

  .mq-fix-font-size-table-name {
    font-size: large;
  }

  .mq-fix-font-size-headers {
    font-size: x-large;
  }
}

::ng-deep {
  .fix-mat-list-item-height {
    height: unset !important;
  }
}
