<div class="huffman-encode-container">

  <div class="text-to-encode">
    <mat-card>
      <mat-card-title>Example Text</mat-card-title>
      <mat-card-content [class.card-medium-font]="!isPresentation"
                        [class.card-big-font]="isPresentation">
        <span *ngFor="let char of huffmanCoding?.text.split('')"
              [class.highlight-code-viewing]="char.toLowerCase() === selectedChar">{{char}}</span>
      </mat-card-content>

      <mat-card-footer class="footer-padding">
        <app-entropy-info [entropyObject]="huffmanCoding"></app-entropy-info>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="binary">
    <mat-card>
      <mat-card-title>Example Text in Binary</mat-card-title>
      <mat-card-content [class.card-medium-font]="!isPresentation"
                        [class.card-bigger-font]="isPresentation">
        <span class="font-monospace
                     cursor-pointer
                     inline-block"
              *ngFor="let binContainer of huffmanCoding?.binary;">
          <span [class.highlight-code-viewing]="binContainer.value === selectedChar">{{binContainer.binary}}</span>
          <span> </span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="encoded">
    <mat-card>
      <mat-card-title>
        <div class="mat-card-fix-title-button-container">
          <div>Example Text Encoded</div>
          <div class="mat-card-fix-align-right">
            <button class="hover-darken"
                    mat-mini-fab
                    color="primary"
                    (click)="resetDecodings()">
              <mat-icon>restore</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content [class.card-medium-font]="!isPresentation"
                        [class.card-bigger-font]="isPresentation">
        <span class="font-monospace
                     hover-code-highlight-secondary
                     cursor-pointer
                     inline-block"
              *ngFor="let hcContainer of huffmanCoding?.encodedArray; let i = index"
              [class.highlight-code-viewing]="hcContainer.value === selectedChar"
              (click)="decodedFlags[i] = !decodedFlags[i]">
          <span *ngIf="!decodedFlags[i]">{{hcContainer.bitcode}}</span>
          <span *ngIf="decodedFlags[i]">{{hcContainer.display + getWhiteSpace(hcContainer.bitcode)}}</span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="codes-container">
    <div class="title-medium">Dictionary</div>
    <div class="huffman-character-codes-container"
         [class.card-medium-font]="!isPresentation"
         [class.card-bigger-font]="isPresentation">

      <div class="item" (mouseenter)="selectedChar = null">
        <div>Char</div>
        <mat-divider class="divider-normal"></mat-divider>
        <div>Code</div>
      </div>

      <div class="item hover-bright mat-elevation-z0 cursor-pointer"
           *ngFor="let col of huffmanCoding?.table"
           (mouseenter)="selectedChar = col.char">
        <div>{{col.display}}</div>
        <mat-divider class="divider-normal"></mat-divider>
        <div>{{col.path}}</div>
      </div>
    </div>
  </div>
</div>
