@import '../../../../styles';

.screen-container {
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 40px;
}

.player-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 4px;
}

.map-container {
  display: grid;
  grid-template-rows: repeat(16, 64px); // This must fit the map config settings
  grid-template-columns: repeat(32, 64px);
  grid-gap: 4px;

  place-content: center;
}

.square {
  border: 1px solid dimgray;
  border-radius: 26%;

  height: 100%;
  width: 100%;

  display: grid;
  place-content: center;

  color: #F5F5F5;
}

.cell-container {
  display: grid;
    grid-template-areas: 'overlap';

  .overlap {
    grid-area: overlap;
  }
}

.hover-action-clickable {
  cursor: pointer;
  transition: filter 500ms;

  &:hover {
    filter: brightness(1.1);
  }
}

.occupant {
  height: 75%;
  justify-self: center;
  align-self: end;
}

.on-turn {

  animation: animateVerticalAlignment 1500ms ease infinite;
}

//SurfaceTypeEnum
.air {
  background-color: lightblue;
}

.soil {
  background-color: burlywood;
}

.water {
  background-color: darkblue;
}

.leaf {
  background-color: #608C2F;
}

.bio {
  background-color: limegreen;
}

//EffectsEnum
.hot {
  background: radial-gradient(rgba(255, 0, 0, 0.5), rgba(206, 174, 0, 0.5));
  animation: animateOpacity 2000ms ease infinite;
}

.cold {
  background: linear-gradient(0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 199, 255, 0.5),
    rgba(255, 250, 240, 0.5),
    rgba(0, 199, 255, 0.5),
    rgba(255, 250, 240, 0.5),
    rgba(0, 199, 255, 0.5),
    rgba(255, 250, 240, 0.5));
  animation: animateOpacity 2000ms ease infinite;
}

.oil {
  background: radial-gradient(#142929 50%, transparent 59%);
  height: 20%;

  border: unset;
  align-self: start;
}


@keyframes animateOpacity {
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}

@keyframes animateVerticalAlignment {
  0%{transform: translateY(0px)}
  7%{transform: translateY(-7px)}
  14%{transform: translateY(0px)}
}
