<mat-dialog-content>
  <h2>{{data.message}}</h2>

  <h4 *ngFor="let p of data.players; let i = index">
    <div class="player-details-container">
      <span>{{i+1}}st</span>
      <span>{{p.name}}</span>
      <span> <mat-icon>local_hospital</mat-icon>{{p.hitPoints}} </span>
      <span> <mat-icon>monetization_on</mat-icon>{{p.resources}} </span>
      <span> <mat-icon>score</mat-icon>{{p.score}} </span>
      <span [ngClass]="p.activeEffect?.type">{{p.activeEffect?.type}} </span>
      <span> <mat-icon>access_time</mat-icon>{{p.activeEffect?.timeLeft}} </span>
    </div>
  </h4>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>ANOTHER!
    <mat-icon>gavel</mat-icon>
  </button>
  <button mat-button mat-dialog-close color="primary">OK</button>
</mat-dialog-actions>
