<div (click)="onNoClick()">
  <mat-card class="mat-card-remove-box">
    <mat-card-title>JPEG - Discrete Cosine Transforms</mat-card-title>
    <mat-card-content>
      <div class="image-zoom-container">
        <img src="../../../../../assets/lenna-example.jpg" class="example-image"/>
        <img src="../../../../../assets/lenna-compressed.jpg" class="example-image"/>
        <img src="../../../../../assets/lenna-super-compressed.jpg" class="example-image"/>
      </div>
    </mat-card-content>
  </mat-card>
</div>
