@import '../../styles';

.screen-container {
  padding: 1em;

  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

.player-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 4px;
}

.map-container {
  display: grid;
  grid-template-rows: repeat(32, 29px); // Total rows/cols must fit the map config(x/y) settings
  grid-template-columns: repeat(32, 29px);

  place-content: center;
}

.square {
  border: 0.5px solid dimgray;
  border-radius: 16%;

  height: 100%;
  width: 100%;

  display: grid;
  place-content: center;

  color: #F5F5F5;
}

.cell-container {
  display: grid;
  grid-template-areas: 'overlap';

  .overlap {
    grid-area: overlap;
  }
}

.hover-action-clickable {
  cursor: pointer;
  transition: filter 500ms;

  &:hover {
    filter: brightness(1.25);
  }
}

.occupant {
  height: 75%;
  justify-self: center;
  align-self: end;
}

.on-turn {
  animation: animateVerticalAlignment 1500ms ease infinite;
}

//SurfaceTypeEnum
.space {
  background-image: url('../../assets/texture_space.png');
  background-size: cover;
  background-color: hsla(0, 0%, 15%, 1);;
}
.asteroid {
  background-image: url('../../assets/texture_asteroid.png');
  background-size: cover;
  background-color: hsla(208, 27%, 90%, 1);
}
.air {
  background-color: lightblue;

  &::after {
    content: "";
    background-image: url('../../assets/texture_air.png');
    background-size: cover;
    opacity: 0.1;
    padding: 0;
    margin: -20px;
  }
}
.soil {
  background-image: url('../../assets/texture_soil.png');
  background-size: cover;
  background-color: burlywood;
}
.water {
  background-image: url('../../assets/texture_water.gif');
  background-size: cover;
  background-color: darkblue;
}
.leaf {
  background-image: url('../../assets/texture_leaf.png');
  background-size: cover;
  background-color: #608C2F;
}
.bio {
  background-image: url('../../assets/texture_bio.png');
  background-size: cover;
  background-color: limegreen;
}
.rock {
  background-image: url('../../assets/texture_rock.png');
  background-size: cover;
  background-color: dimgrey;
}

//EffectsEnum
.hot {
  background: radial-gradient(rgba(255, 0, 0, 0.5), rgba(206, 174, 0, 0.5));
  animation: animateOpacity 2000ms ease infinite;
}

.cold {
  background: linear-gradient(0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 199, 255, 0.5),
    rgba(255, 250, 240, 0.5),
    rgba(0, 199, 255, 0.5),
    rgba(255, 250, 240, 0.5),
    rgba(0, 199, 255, 0.5),
    rgba(255, 250, 240, 0.5));
  animation: animateOpacity 2000ms ease infinite;
}

.oil {
  background: radial-gradient(#142929 50%, transparent 59%);
  height: 20%;

  border: unset;
  align-self: start;
}


@keyframes animateOpacity {
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}

@keyframes animateVerticalAlignment {
  0%{transform: translateY(0px)}
  7%{transform: translateY(-7px)}
  14%{transform: translateY(0px)}
}
