@import '../../styles';

.screen-container {
  padding: 8px;

  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;

  overflow: hidden;
}

.dashboard-container {
  display: grid;
}

.player-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 4px;
}

.map-container {
  width: max-content;
  background-color: #242424;
  border-radius: 20%;

  display: grid;
  place-content: center;
}

.square {
  border: 0.5px solid dimgray;
  border-radius: 16%;

  height: 100%;
  width: 100%;

  display: grid;
  place-content: center;

  color: #F5F5F5;

  position: relative;
}

._command-overlay {
  position: absolute;
  width: 50%;
  height: 50%;
  place-self: center;

  animation: transparentToVisible 750ms forwards;
}

@keyframes transparentToVisible {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.self-commands {
  @extend ._command-overlay;
  background: linear-gradient(0deg, transparent 40%, #00ffff99, transparent 60%),
  linear-gradient(90deg, transparent 40%, #00ffff99, transparent 60%);
  width: 100%;
  height: 100%;
}

.basic-commands {
  @extend ._command-overlay;
  background-color: transparentize(red, 0.6);
  transform: rotate(45deg);
}

.banana-command {
  @extend ._command-overlay;
  background-color: transparentize(yellow, 0.6);
  border-radius: 50%;
}

.action-icon {
  font-size: 40px;
  height: 40px;
}

::ng-deep {
  .mat-menu-panel {
    min-width: unset !important;

    button {
      height: 60px;
    }
  }
}

.overlap-container {
  display: grid;
  grid-template-areas: 'overlap';

  .overlap {
    grid-area: overlap;
  }
}

.hover-action-clickable {
  cursor: pointer;
  transition: filter 500ms;

  &:hover {
    filter: brightness(1.35);
  }
}

.occupant {
  display: grid;
  place-items: center;

  img {
    width: 75%;
  }
}

.powerup {
  justify-self: center;
}

.on-turn {
  img {
    animation: animateJump 2000ms infinite;
  }

  .flashing-x {
    width: 100%;
    height: 100%;

    $light-green: #47ff3f;
    $dark-green: #222d29;
    background: linear-gradient(45deg, transparent 40%, $dark-green 49.7%, $light-green 49.7%, $light-green 50.3%, $dark-green 50.3%, transparent 60%),
    linear-gradient(-45deg, transparent 40%, $dark-green 49.7%, $light-green 49.7%, $light-green 50.3%, $dark-green 50.3%, transparent 60%);
    border-radius: 50%;

    animation: animateFlashingXScaleRotate 1500ms forwards,
    animateFlashingXOpacity 1200ms forwards;
  }
}

@keyframes animateFlashingXScaleRotate {
  0% {
    transform: scale(10) rotate(0deg);
  }
  100% {
    transform: scale(0.6) rotate(180deg);
  }
}

@keyframes animateFlashingXOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateOpacity {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes animateJump {
  0% {
    transform: translateY(0px) scale(1);
  }
  7% {
    transform: translateY(-7px) scale(1.1)
  }
  14% {
    transform: translateY(0px) scale(1)
  }
}


//SurfaceTypeEnum
.DEEP_SPACE {
  background-image: url('../../assets/texture_space.png');
  background-size: cover;
  background-color: #050405;
}

.DIRT {
  background-image: url('../../assets/texture_asteroid.png');
  background-size: cover;
  background-color: #919191;
}

.AIR {
  background-image: url('../../assets/texture_rock.png');
  background-size: cover;
  background-color: #2f2f2f;
}

$versions-count: 3;
@mixin _texture-styles-classes {
  @for $i from 0 through $versions-count {
    .DEEP_SPACE#{$i} {
      @extend .DEEP_SPACE;
      transform: rotate(#{$i*90}deg);
    }
    .DIRT#{$i} {
      @extend .DIRT;
      transform: rotate(#{$i*90}deg);
    }
    .AIR#{$i} {
      @extend .AIR;
      transform: rotate(#{$i*90}deg);
    }
  }
}

@include _texture-styles-classes;
