<div class="background">
  <div></div>
</div>

<div class="screen-container">

  <div style="width: 700px"
       class="dashboard-container">

    <div *ngFor="let details of dashboard?.players" class="dashboard-details">
      <div>Player {{details.playerId}}</div>
      <div>health: {{details.health}}</div>
      <div>livingWorms: {{details.livingWormsCount}}</div>
      <div>totalScore: {{details.totalScore}}</div>
      <div>wormSelectionTokens: {{details.wormSelectionTokens}}</div>
      <div>bananasCount: {{details.bananasCount}}</div>
      <div>roundErrors: {{details.roundErrors}}</div>
      <img class="overlap" [style.height]="gameMap?.mapStyle.cellSize + 'px'"
           style="    background: radial-gradient(gray, transparent 77%);"
           [src]="'../../../../assets/worm' + details.activeWormImage + '.png'"/>
    </div>

    <div>round {{dashboard?.currentRound}}</div>
  </div>

  <div class="map-container"
       [style.grid-template-rows]="gameMap?.mapStyle.gridStyle"
       [style.grid-template-columns]="gameMap?.mapStyle.gridStyle">

    <ng-container *ngFor="let cell of flatCells">

      <div class="overlap-container"
           [class.hover-action-clickable]="cell.isAllyWormCell
                                           || cell.isInDigMoveRange
                                           || cell.isInBananaRange">

        <div *ngIf="cell.isAllyWormCell
                    || cell.isInDigMoveRange
                    || cell.isInBananaRange"
             class="square overlap"
             [matMenuTriggerFor]="actionsMenu"
             [style.z-index]="5">

          <div *ngIf="cell.isAllyWormCell && cell.occupier !== player1.currentWorm;
                      else cell.isInDigMoveRange ? basicIndicator
                      : cell.isInBananaRange ? bananaIndicator : ''"
               class="self-commands"></div>
          <ng-template #basicIndicator>
            <div class="basic-commands"></div>
          </ng-template>
          <ng-template #bananaIndicator>
            <div class="banana-command"></div>
          </ng-template>

          <mat-menu #actionsMenu="matMenu">
            <button *ngIf="cell.isInDigMoveRange && cell.type.name == 'AIR'"
                    mat-menu-item
                    title="Move here"
                    (click)="doPlayerAction(cell, actionsEnum.MOVE)">
              <div class="action-icon">🏃‍♀️</div>
            </button>

            <button *ngIf="cell.isInDigMoveRange && cell.type.name == 'DIRT'"
                    mat-menu-item
                    title="Dig here"
                    (click)="doPlayerAction(cell, actionsEnum.DIG)">
              <div class="action-icon">⛏</div>
            </button>

            <button *ngIf="cell.isInDigMoveRange && cell.type.name == 'AIR'"
                    mat-menu-item
                    title="Shoot in this direction"
                    (click)="doPlayerAction(cell, actionsEnum.SHOOT)">
              <div class="action-icon">🔫</div>
            </button>

            <button *ngIf="cell.isInBananaRange"
                    mat-menu-item
                    title="Throw Banana Bomb here"
                    (click)="doPlayerAction(cell, actionsEnum.BANANA)">
              <div class="action-icon">💣</div>
            </button>

            <button *ngIf="cell.isAllyWormCell && cell.occupier === player1.currentWorm"
                    mat-menu-item
                    title="Do nothing for this round"
                    (click)="doPlayerAction(cell, actionsEnum.NOTHING)">
              <div class="action-icon">🤷‍♀️</div>
            </button>

            <button *ngIf="cell.isAllyWormCell
                          && cell.occupier !== player1.currentWorm
                          && player1.wormSelectionTokens > 0"
                    mat-menu-item
                    title="Select this worm"
                    (click)="doPlayerAction(cell, actionsEnum.SELECT)">
              <div class="action-icon">👈</div>
            </button>
          </mat-menu>
        </div>

        <ng-container *ngIf="cell.occupier && cell.occupier === player1.currentWorm
                                           && cell.occupier.player.id === player1.id">
          <div [style.z-index]="6" class="selector-corners-shadow overlap"></div>
          <div [style.z-index]="7" class="selector-corners-real overlap"></div>
        </ng-container>

        <img *ngIf="cell.occupier"
             class="occupant overlap overlap-container"
             [style.z-index]="3"
             [title]="'Player ' + cell.occupier.player.id"
             [class.on-turn]="cell.occupier === player1.currentWorm
                                && cell.occupier.player.id === player1.id"
             [src]="'../../../../assets/worm' + cell.occupier.player.id + cell.occupier.id + '.png'"/>

        <div *ngIf="cell.powerup"
             class="powerup overlap"
             [style.z-index]="2"
             [title]="'Health'"
             [style.height]="gameMap?.mapStyle?.powerupSize"
             [style.font-size]="gameMap?.mapStyle?.powerupSize">
          🍕
        </div>

        <div class="square texture overlap"
             [ngClass]="cell.type.name$ + cell.styleNumber"
             [style.z-index]="1">
        </div>
      </div>

    </ng-container>

  </div>
</div>
